<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
</head>
<body>
  <h2>Welcome</h2>
  <button onclick="location.href='/register';">Sign-up Now!</button>
  <br>
  <br>
  <button onclick="location.href='/urls';">URLS</button>
</body>
</html>