<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= shortURL %></title>
  </head>
  <body>
    <% include ./partials/_header %>
    <h3>Added to database:</h3>
    <%= shortURL %> - <%= longURL %>
    <br>
    <br>
    <a href="../urls">home</a>
  </body>
</html>