<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <ul>
      <!-- "werewr" - "www.google.com" -->
      <% for (var i in urls) { %>
          <li><%= i %> - <%= urls[i] %></li>
      <% }; %>
  </ul>
  <a href="">Add new URL</a>
</body>
</html>