<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
      <% templateVars.forEach(function(obj) { %>
          <li><%= drink.name %> - <%= drink.drunkness %></li>
      <% }); %>
  </ul>
    <!-- Add your EJS code here -->
</body>
</html>